<div class="sidebar">
<div class="row">
    <div class="col-12">


            <div class="card card-profile mb-4 main-sidebar">
                <div class="card-header" style="background-image: url(/img/iceland.jpg);"></div>
                
                    <a href="#" class="text-center">
                        <img class="card-profile-photo" src="/img/avatar-dhg.png">
                    </a>
                    <div class="card-block text-center">
                    <h6 class="card-title">
                        <a href="#">Raj Sakariya</a>
                    </h6>

                    <p class="mb-4">Hiiii i'm raj sakariya and i'm from surat</p>

                    <div class="row">
                        <a class="col-6" href="#" class="">
                            Following
                            <h6 class="my-0">12M</h6>
                        </a>
                        
                        <a class="col-6" href="#" class="">
                            Followers
                            <h6 class="my-0">1</h6>
                        </a>
                    </div>
                </div>
            </div>




            <div class="card visible-md-block visible-lg-block mb-4">
                <div class="card-block">
                    <h6 class="mb-3">About <small>· <a href="#">Edit</a></small></h6>
                    <ul class="list-unstyled list-spaced">
                        <li><span class="text-muted icon icon-calendar mr-3"></span>Went to <a href="#">Oh, Canada</a>
                        <li><span class="text-muted icon icon-users mr-3"></span>Became friends with <a
                                href="#">Obama</a>
                        <li><span class="text-muted icon icon-github mr-3"></span>Worked at <a href="#">Github</a>
                        <li><span class="text-muted icon icon-home mr-3"></span>Lives in <a href="#">San Francisco,
                                CA</a>
                        <li><span class="text-muted icon icon-location-pin mr-3"></span>From <a href="#">Seattle, WA</a>
                    </ul>
                </div>
            </div>

            
              
    </div>
    </div>
</div>