<% layout('layouts/boilerplate') %>
    <div class="container px-0" style="border: 2px solid #dedcdc;box-shadow: 10px blue inset;">
            
            <% for(let post of posts){ %>
                <div class="media container py-3 border-0">                   

                       
                            <div class="row mx-0" style="height: 100%;">

                                <div class="col-lg-1 col-md-12">
                                    <img class="rounded-circle" src="/img/avatar-dhg.png" style="height: 60px;">
                                </div>

                              
                                <div class="col-lg-11 col-md-12">
                                    <div class="row"><p class="col-12" style="font-weight: bold;"> Raj Sakariya</p></div>

                                    <a href="/viewPost/<%= post._id %>" style="text-decoration: none;">
                                        <div class="row"><p class="col-12 " ><%= post.body %></p></div>
                                    </a>
                                    
                                    <div class="row px-5 py-3">
                                        <img class="img-thumbnail col-12" style="border:none;" src="<%= post.image %>"></img>
                                    </div>
                                </div>
                                
                            </div>
                </div>
                <hr>
            <% } %>
    </div>
   