<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <form action="/newPost" method="POST" class="validate-form form" novalidate>
            <h1 class="text-center">Create a new Post here!!</h1>
            <textarea name="post[body]" placeholder="write your post here" class="form-control" id="body" cols="5" rows="10" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <input type="text" name="post[image]" placeholder="image url">
            <button>Post</button>
        </form>
    </div>
</div>
